# This file is used to configure environment variables for the application.
# It should not be committed to version control.
DEVELOPMENT=True
JWT_SECRET=8db8f85991bb28f45ac0107f2a1b349c
JWT_ALGORITHM=H256
JWT_EXPIRATION_TIME=3600  # in seconds
JWT_REFRESH_EXPIRATION_TIME=86400  # in seconds
# Secret keys for various services
SECRET_KEY_ONE=super_secret_key_1
SECRET_KEY_TWO=super_secret_key_2
API_GATWAY_URL=http://localhost:4000
CLIENT_URL=http://example.com
SERVER_IP=0.0.0.0
SERVER_PORT=4002
# Database and Redis configuration
MYSQL_URL=mysql+asyncmy://labadmin:root123@0.0.0.0:3306/msa_auth
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=
# RabbitMQ configuration
RABBITMQ_ENDPOINT="amqp://labadmin:root123@localhost:5672"
# Elasticsearch configuration
ENABLE_ES=0
ELASTICSEARCH_URL=http://localhost:9200
# Application Performance Monitoring (APM) configuration
ENABLE_APM=1
ELASTIC_APM_SERVER_URL=http://apm_server_container:8200
ELASTIC_APM_SECRET_TOKEN=
