# This file is used to configure environment variables for the application.
# It should not be committed to version control.
DEVELOPMENT=True
JWT_SECRET=your_secret_key_here
JWT_ALGORITHM=
SECRET_KEY_ONE=super_secret_key_1
SECRET_KEY_TWO=super_secret_key_2
CLIENT_URL=http://example.com
SERVER_IP=0.0.0.0
SERVER_PORT=4001
# Database and Redis configuration
POSTGRES_DATABASE_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=
# RabbitMQ configuration
RABBITMQ_ENDPOINT="amqp://labadmin:root123@localhost:5672"
# Mail configuration
MAIL_USERNAME=Abdul Stroman
MAIL_PASSWORD=e1xCsBwCzQ4VbeNNye
MAIL_SERVER=smtp.ethereal.email
MAIL_PORT=587
MAIL_FROM=abdul.stroman62@ethereal.email
MAIL_FROM_NAME=Louvenia
DOMAIN=example.com
# Elasticsearch configuration
ENABLE_ES=0
ELASTICSEARCH_URL=http://localhost:9200
# Application Performance Monitoring (APM) configuration
ENABLE_APM=1
ELASTIC_APM_SERVER_URL=http://apm_server_container:8200
ELASTIC_APM_SECRET_TOKEN=
