# This file is used to configure environment variables for the application.
# It should not be committed to version control.
DEVELOPMENT=True
JWT_TOKEN=
GATEWAY_JWT_TOKEN=
SECRET_KEY_ONE=super_secret_key_1
SECRET_KEY_TWO=super_secret_key_2
SERVER_IP=0.0.0.0
SERVER_PORT=4000
# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=
# Other service URLs
CLIENT_URL=http://localhost:3000
AUTH_BASE_URL=http://localhost:4002
USERS_BASE_URL=http://localhost:4003
CATALOG_BASE_URL=http://localhost:4004
MESSAGE_BASE_URL=http://localhost:4005
ORDER_BASE_URL=http://localhost:4006
REVIEW_BASE_URL=http://localhost:4007
REDIS_HOST=redis://localhost:6379
# Elasticsearch configuration
ENABLE_ES=0
ELASTICSEARCH_URL=http://localhost:9200
# Application Performance Monitoring (APM) configuration
ENABLE_APM=0
ELASTIC_APM_SERVER_URL=http://apm_server_container:8200
ELASTIC_APM_SECRET_TOKEN=